.container2 {
    max-width: 1100px;
    margin: 0 auto;
    padding: 15px;

}

.catalogContainer {
    margin: 100px auto;
    display: grid;
    column-gap: 150px;
    row-gap: 100px;
    grid-template-columns: 300px 300px;
    justify-content: center;
}

.catalogContainer a {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    width: 305px;
    transition: 0.4s;
}

.catalogContainer a:hover {
    transition: 0.4s;
    transform: scale(1.01);
    box-shadow: 0px 0px 20px 1px gray;
}

.catalogItem {
    width: 300px;
    height: 300px;

}

.itemBlur {
    position: relative;
    z-index: 10;
    top: -124px;
    width: 302px;
    height: 120px;
    background: rgba(36, 35, 35, 0.5);
    border-radius: 0 0 8px 8px;
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
}

.catalogItemImg {
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.itemblu {
    margin-bottom: 100px;
}

.itemTitle {
    margin: 0 auto;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 30px;
}

@media (max-width: 1024px) {
    .container2 {
        max-width: 768px;
    }

    .catalogContainer {
        grid-template-columns: 252px 252px;

    }

    .catalogContainer a {
        width: auto;

    }

    .catalogItem {

        width: 250px;
        background-size: cover;
        height: 250px;
    }

    .itemBlur {
        top: -74px;
        width: 250px;
        height: 70px;
    }

    .itemTitle {
        font-size: 25px;
    }
}

@media (max-width: 750px) {
    .catalogContainer {
        grid-template-columns: 252px;
        margin-top: 100px;
    }
}

@media (max-width: 480px) {
    .container2 {
        max-width: 320px;
    }

    .catalogContainer {
        grid-template-columns: 203px;

    }

    .catalogContainer a {
        height: 200px;
    }

    .catalogItem {
        margin: 0;
        width: 200px;
        background-size: cover;
        height: 200px;
    }

    .itemBlur {
        top: -54px;
        width: 200px;
        height: 50px;
    }

    .itemTitle {
        font-size: 20px;
    }

}